
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.title {
  font-size: 60px;
  color: #FFFFE0;
  text-shadow: 3px 5px 0px #707070;
}

.hero-section {
  height: 30vh;
  background: linear-gradient(110deg, transparent 20%,brown 20%),url(../../../assets/header-title.jpg);
  align-items: center;
  margin-bottom: 20px;
  margin-top: -20px;
}
